CONFIG_RISCV=y
CONFIG_ARCH_SOPHGO=y
CONFIG_NONPORTABLE=y
CONFIG_ERRATA_THEAD=y
CONFIG_ERRATA_THEAD_CMO=y
CONFIG_ERRATA_THEAD_PMU=y
# CONFIG_RISCV_ISA_V is not set

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_RISCV_SBI_V01=y
CONFIG_HVC_RISCV_SBI=y

CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_OF=y
CONFIG_MMC_SDHCI_OF_DWCMSHC=y

# SoC clock driver
CONFIG_CLK_SOPHGO_CV1800=y

# SoC pinctrl and GPIO
CONFIG_PINCTRL=y
CONFIG_PINCTRL_SOPHGO_SG2002=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_DWAPB=y
CONFIG_GPIO_SYSFS=y

# SoC reset controller
CONFIG_RESET_CONTROLLER=y

CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y

CONFIG_TMPFS=y

CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DEBUG_FS=y
CONFIG_LOG_BUF_SHIFT=18

# Module support (for out-of-tree WiFi driver)
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y

# ConfigFS (needed for USB gadget setup)
CONFIG_CONFIGFS_FS=y

# USB support
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_DWC2=y
CONFIG_GENERIC_PHY=y
CONFIG_PHY_SOPHGO_CV1800_USB2=y

# USB Gadget
CONFIG_USB_GADGET=y
CONFIG_USB_DWC2_PERIPHERAL=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_F_ACM=y
CONFIG_USB_F_SERIAL=y
CONFIG_USB_U_SERIAL=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_F_RNDIS=y
CONFIG_USB_U_ETHER=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_F_MASS_STORAGE=y

# Networking stack
CONFIG_NET=y
CONFIG_INET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_NETDEVICES=y

# Ethernet - STMMAC/DWMAC (SG2002 internal MAC)
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_DWMAC_SOPHGO=y
CONFIG_MDIO_BUS_MUX_MMIOREG=y
CONFIG_PHYLIB=y
CONFIG_MII=y

# Wireless subsystem (for AIC8800 out-of-tree driver)
CONFIG_WIRELESS=y
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_RFKILL=y

# MMC SDIO (for WiFi module on SD1)
CONFIG_MMC_SDHCI_PLTFM=y

# Bluetooth
CONFIG_BT=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_HIDP=y
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_H4=y

# DHCP / general networking
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
